@mixin dark {
  // Document
  color-scheme: dark;
  --background-color: #161627;
  --text-color: #ffffff;

  // Headings
  --heading-color: #ffffff;

  // Links
  --link-color: var(--primary-300);
  --link-color-hover: var(--primary-500);
  --link-color-focus: var(--primary-600);
  --link-color-visited: var(--secondary-200);

  // Cards
  --card-background-color: #252542;

  // Controls
  --control-background-color: #555597;
  --control-text-color: #ffffff;
  --control-placeholder-color: #babafad8;
}
