@mixin dark {
  // Document
  color-scheme: dark;
  --background-color: #161627;
  --text-color: #ffffff;

  // Links
  --link-color: var(--primary-300);
  --link-color-hover: var(--primary-500);
  --link-color-focus: var(--primary-600);
  --link-color-visited: var(--secondary-200);

  // Cards
  --card-background-color: #252542;
}
